<p id="notice"><%= notice %></p>

<h1>Articles</h1>


<div class="row">
  <!-- Blog Article Content Column -->
  <div class="col-lg-8">

    <% @articles.each do |article| %>
    <!-- Blog Article -->
    <!-- Title -->
    <h1><%= link_to_unless_current article.title, article %></h1>
    <span class="glyphicon glyphicon-time"></span> Articleed: <%= distance_of_time_in_words_to_now(article.created_at) %> ago
    <p class="lead"><%= simple_format article.body %></p>

    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>

    <!-- Articleed Comments -->
    <div id="posted-comments">
      <%= render :partial => article.comments.first(3) %>
    </div>


    <% end %>

    <%= link_to 'New Article', new_article_path %>
  </div>


  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Side Widget Well -->
    <div class="well">
      <h4>About this blog:</h4>
      <p>This is a test site for Gfresh</p>

    </div>
  </div>

</div>
