<!-- <%= render :partial => @post %> -->
<div class="row">
  <!-- Blog Post Content Column -->
  <div class="col-lg-8">
    <div class="well">
      <%= form_for(post) do |f| %>
      <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <form>
        <div class="form-group">
          <%= f.label :title %>
          <br/>
          <%= f.text_field :title, :class => "full-size" %>
        </div>

        <div class="form-group">
          <%= f.label :body %><br/>
          <%= f.text_area :body, :rows => 5, :class => "full-size" %>
        </div>

        <div class="form-group">
          <%= f.text_field :all_tags, placeholder: "Tags separated with comma", :class => "full-size" %>
        </div>

        <div class="form-group">
          <%= f.submit  :class => "btn btn-default" %>
        </div>
        <% end %>
      </div>
    </form>
  </div>
</div>
